
  body{
    background-color: #2a0a1d;
    margin: 0;
    font-family: sans-serif; 
  }
  h1{
    margin: 100px auto;
    color: #a05480;
    text-align: center;
  }
  ul{
    padding: 0;
  }
  li{
    padding: 6px 10px;
    border: 1px solid #eee;
    margin: 15px auto;
  }

  li p{
    color:#2a0a1d;
    margin: 8px 0 0;
  }
  section{
    background: #bb9fb7;
    padding: 80px;
    margin-top: 80px;
  }
  form{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  label{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    color: #2a0a1d;
    margin: 15px 0 5px;
  }
  .wrapper{
    max-width: 800px;
    margin: 0 auto;
  }
  input, select{
    padding: 6px;
    border: 1px solid #c095c2a4;
    border-radius: 6px;
}
  .field{
    display: inline-block;
    margin: 0 10px;
  }
  button{
    color: white;
    border: none;
    background: #9a005a;
    padding: 6px;
    min-width: 100px;
    border-radius: 10px;
}
button:hover{
background-color:#a05480
}
 